---
layout: layout1
root: ../
---
<section id="rel2">



<p>
<div class="tiles">

<ul id="search-results"></ul>

<script>
  window.store = {
	      {% for post in site.posts %}
	            "{{ post.url | slugify }}": {
	"title": "{{ post.title | xml_escape }}",
	"author": "{{ post.author | xml_escape }}",
	"category": "{{ post.category | xml_escape }}",
	"content": {{ post.content | strip_html | strip_newlines | jsonify }},
	"url": "{{site.baseurl}}{{ post.url | xml_escape }}"
	  }
		          {% unless forloop.last %},{% endunless %}
			      {% endfor %}


			        };

</script>
<script src="{{site.baseurl}}/js/lunr.min.js"></script>
<script src="{{site.baseurl}}/js/search-dyn.js"></script>
</div>
</p>

</section>



<div style="overflow: hidden;">
    <div style="float: left;">
    
<section>
 {% include poldonet.html %}
</section>
    
    </div>
        <div style="float: left;">
<section>
 {% include culturadigitale.html %}
</section>
        </div>
</div>


