<!-- Scripts -->

<!-- Ho cambiato l'URL degli script altrimenti la sidebar non riesce a gestire l'evento 'click' nella pagina dei post (problema di livelli annidati) -->

<!--
  <script src="{{site.baseurl}}/{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
  <script src="{{site.baseurl}}/{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
  <script src="{{site.baseurl}}/{{ 'assets/js/util.js' | absolute_url }}"></script>
  <script src="{{site.baseurl}}/{{ 'assets/js/main.js' | absolute_url }}"></script>

 <script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
 <script src="/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
 <script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>
 <script src="/js/date.format.js" type="text/javascript" charset="utf-8"></script>
 <script src="/js/URI.min.js" type="text/javascript" charset="utf-8"></script>
 <script src="/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script> 
  
  
-->


  <script src="{{ site.baseurl }}/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/assets/js/lunr.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/assets/js/skel.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/assets/js/util.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script> 
  <script src="{{ site.baseurl }}/js/mustache.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
