

  <script src="{{site.baseurl}}/themesleo/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/themesleo/assets/js/lunr.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/themesleo/assets/js/skel.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/themesleo/assets/js/util.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/themesleo/assets/js/main.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/themesleo/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script> 
  <script src="{{site.baseurl}}/themesleo/js/mustache.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/themesleo/lunr.min.js" type="text/javascript" charset="utf-8"></script>
