

  <!-- script src="{{ site.baseurl }}/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script -->
  <script src="assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/lunr.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/skel.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/util.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/main.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script> 
  <script src="js/mustache.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
