<head>
  <title>poldonet</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/w3_custom.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/w3.css" />
  <script src="{{site.baseurl}}/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/assets/js/lunr.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/assets/js/skel.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="{{site.baseurl}}/assets/js/util.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/assets/js/main.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script> 
  <script src="{{site.baseurl}}/js/mustache.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/js/search.min.js" type="text/javascript" charset="utf-8"></script>
  <style>

		div.borderleo {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 1%;
		text-align: left;
		padding: 14px 16px;
		text-decoration: none;


		border: 3px solid #73AD21;
		
	}
	div.cpre {
			margin-right: 2%;{content: "\200B";};
    }

    div.controls-wrapper{}
	</style>

	<script>

function changecolor() {
    var colors = ["#B40404", "#0000FF", "#FE2E9A", "#FF0080", "#2EFE2E", ];
    var rand = Math.floor(Math.random() * colors.length);
    $('#controls-wrapper').css("background-color", colors[rand]);
    setTimeout('changecolor()', 1000);
}
	</script>
<script>
    function random_post_bg_color() {
        var x = Math.floor(Math.random() * 200);
        var y = Math.floor(Math.random() * 200);
        var z = Math.floor(Math.random() * 200);
        var bgColor = "rgb(" + x + "," + y + "," + z + ")";
        console.log(bgColor);

        document.getElementById("post_color").style.backgroundColor = bgColor;
        document.getElementById("post_color").style.display = 'block';
        }       

</script>

	<script>
        function hideElemetId(){
		document.getElementById("nameid").style.display = 'none';
	}
</script>

	<script>
	function random_bg_color() {
		var x = Math.floor(Math.random() * 256);
		var y = Math.floor(Math.random() * 256);
		var z = Math.floor(Math.random() * 256);
		var bgColor = "rgb(" + x + "," + y + "," + z + ")";
		console.log(bgColor);

		document.body.style.background = bgColor;
		//document.div.backgroundColor = bgColor;
		}
</script>




  	<script>
function w3_open() {
	  document.getElementById("main").style.marginLeft = "25%";
	    document.getElementById("mySidebar").style.width = "25%";
	      document.getElementById("mySidebar").style.display = "block";
	        document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
	  document.getElementById("main").style.marginLeft = "0%";
	    document.getElementById("mySidebar").style.display = "none";
	      document.getElementById("openNav").style.display = "inline-block";
}
   </script>


<!--
	<script>
	setInterval(function () { 
	  document.getElementById("fancy").style.background= '#'+Math.floor(Math.random()*16777215).toString(16);
	  document.body.style.background= '#'+Math.floor(Math.random()*16777215).toString(16);  
	    }, 1000);
	</script>

-->

</head>
