
<!-- test sidebar -->
<aside id="rel3">
<!-- Sidebar -->
<p>
<div class="w3-sidebar w3-bar-block w3-red w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

    <div class="w3-teal">
        <button id="openNav" class="w3-button w3-teal w3-xlarge w3-container" onclick="w3_open()">&#9776;</button>
       
    </div>
</p>

<!-- Page Content 
	<p>
<div id="mains">

	<div class="w3-teal">
		<button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
		<div class="w3-container"> <b>Leo My Page</b> </div>
	</div>
</div>
</p>
 -->


</aside>
