---
layout: layout1
---
<section id="rel3">
<!-- Sidebar -->
<p>
<div class="w3-sidebar w3-bar-block w3-red w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
</p>
<p>
<!-- Page Content -->
<div id="mains">

	<div class="w3-teal">
		<button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
		<div class="w3-container"> <h3>Leo My Page</h3> </div>
	</div>
</div>
</p>
  
<script>
function w3_open() {
	  document.getElementById("mains").style.marginLeft = "25%";
	    document.getElementById("mySidebar").style.width = "25%";
	      document.getElementById("mySidebar").style.display = "block";
	        document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
	  document.getElementById("mains").style.marginLeft = "0%";
	    document.getElementById("mySidebar").style.display = "none";
	      document.getElementById("openNav").style.display = "inline-block";
}
</script>
</section>
