<html>

     {% include head.html %} 


<body onload="random_bg_color()">

    <!-- Wrapper -->
    <div id="wrapper">
      {% include sidebar.html %}
        <!-- Main -->
        <div id="main">

<form action="{{site.baseurl}}/index.html" method="get">
	    <input type="text" id="search-box" name="query" class="w3-display-right" style="top: 6%; text-align: left; width: 20%;" placeholder="not google, just lunr.js search" autocomplete="off" onclick="javascript:doSearch();">
</form>



            <div class="inner">

    <!-- {% include header.html %} -->

                {{ content }}

            </div>
        </div>


    </div>
     
   {% include footer.html %}

</body>

</html>
